@media screen
and (max-device-width : 360px)
and (max-device-height : 640px) {
    body {
        margin: 0px;
    }
    .containerheader{
        background-color: #3F51B5;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .header i {
        font-size: 24px;
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 16px;
    }
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h1 {
        font-size: 20px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: #DFDFDF;
    }
    .devices {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    a {
        text-decoration: none;
        color: #DFDFDF;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    a:hover {
        color: white;
    }
    .caster {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 24px;
        padding-top: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .namnbyte {
        display: flex;
        border: solid black 1px;
        flex-direction: row;
        justify-content: space-between;
        width: 250px;
    }
    .textmitten {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 24px;
        width: 250px;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    .bytdevice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
    }
    .volym {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
    }
    .volymändrare {
        width: 250px;
    }
    .skrivtext {
        font-family: 'Roboto', sans-serif;
        border: none;
    }
    .listavänster {
        width: 304px;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-color: white;
        animation: Notan 0.25s 1;
        z-index: 1;
        padding-right: 16px;
    }
    .backgroundcolor {
        background-color: #3F51B5;
        width: 100%;
        height: 101px;
        padding-left: 16px;
        padding-top: 16px;
    }
    .contentlista {
        padding-left: 16px;
    }
    .genomskenlig {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.2;
        top:0;
        right: 0;
        background-color: black;
        z-index: 0%;
    }
    .listasaker {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-top: 8px ;
    }
    .listasaker2 {
        display: flex;
        flex-direction: row;
        padding-top: 8px;
        padding-left: 24px;
    }
    .genomskenlig2 {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.2;
        top:0;
        left: 0;
        background-color: black;
        z-index: 0;
    }
    .listahöger {
        width: 200px;
        height: auto;
        position: absolute;
        top:32px;
        right: 32px;
        background-color: white;
        animation: Notan2 0.25s 1;
        z-index: 1;
        padding-left: 16px;
    }
}
@keyframes Notan {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes Notan2 {
    from {
        transform: translate3d(200%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
div.efter {
    display: flex;
}

div.innan {
    display: none;
}

div.efter2 {
    display: flex;

}
div.innan2 {
    display: none;
}